<footer class="footer text-center">
  <div class="container">
    <div class = "row">
    	<div class = "col-xs-12 col-md-4">
    		<h4>Contact</h4>
    		<p><a href="mailto:poudelmadhav143@gmail.com">poudelmadhav143@gmail.com</p>
    	</div>
    	<div class = "col-xs-12 col-md-4">
    		<h4>Find Us</h4>
    		<div class="social-buttons">
	    		<a href = "#"><i class="fa fa-facebook-official social" ></i></a>
	    		<a href = "#"><i class="fa fa-twitter-square social" ></i></a>
	    		<a href = "#"><i class="fa fa-linkedin-square social" ></i></a>
	    	</div>
    	</div>
    	<div class = "col-xs-12 col-md-4">
    		<h4>&copy; <a href="http://poudelmadhav.com.np">Madhav Paudel</a> <%= Date.today.year %></h4>
    		<p>All Rights Reserved.</p>
    	</div>
    </div>
  </div>
</footer>