$main-blue: #337ab7;  
$primary-font: 'Open Sans', sans-serif;  
$secondary-font: 'Dosis', sans-serif; 
$footer-height: 45px;

.navbar-default {
  font-family: $secondary-font;
}

html, body {
  font-family: $primary-font;
  }

#wrap{
  margin-top: 1%;
}

.navbar-default {
  font-family: $secondary-font;
  background-color: white;
}


.navbar-default .navbar-brand {
  font-weight: 100; 
  font-size: 23px;
  letter-spacing: 2px;
  color: $main-blue;
}

.navbar-header {
	float: none;
  padding: 2px;
  background: #dbdbdb;
  border-radius: 7px;
  margin-left: 1%;
  margin-right: 1%;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

li {
    padding: 0px 10px 0px 10px;
}

/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

/* Set the fixed height of the footer here */
.footer {
  height: $footer-height;
}

.mp-btn {
  width: 100%;
}

.footer {
  margin-left: 1%;
  margin-right: 1%;
}
